html {
    height: 100%;
}

body {
    font-family: "Pretendard", sans-serif;
}

@layer utilities {
    .h-mobile-full {
        height: 100svh;
    }

    @media (min-width: 768px) {
        .h-mobile-full {
            height: 700px;
        }
    }
}

/* 스크롤바 스타일 */
.scrollbar::-webkit-scrollbar {
    width: 6px;
}
.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 10px;
}
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* 페이지 공통 */
.page-title {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity, 1));
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.protein-submit-form {
    padding: 0.75rem 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
    border-width: 1px;
    border-radius: 0.375rem;
}

.protein-submit-form .label-submit {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
    font-size: 0.75rem;
    line-height: 1rem;
    display: block;
    margin-bottom: 0.25rem;
}

.protein-submit-form input, .protein-list .protein-item input {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.375rem 0.75rem;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
    border-width: 1px;
    border-radius: 0.375rem;
    width: 100%;
}

.protein-submit-form .btn-submit {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding: 0.375rem 0.75rem;
    background-color: #3b82f6;
    border-radius: 0.375rem;
    color: #ffffff;
    width: 3.3rem;
}

.protein-list .protein-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.375rem;
    border-width: 1px;
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
    padding: 0.5rem 1rem;
}