<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:with="pageTitle='오늘의 프로틴', activePage='main'"
>

<head layout:fragment="head">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<th:block layout:fragment="content">
  <h2 class="page-title mb-1">오늘의 프로틴</h2>
  <p class="text-lg font-bold text-gray-800 mb-6" id="todayText">2024.10.06</p>

  <!-- 섭취량 원형 시각화 -->
  <div class="flex flex-col items-center mb-6">
    <div class="relative w-40 h-40">
      <svg class="w-full h-full transform -rotate-90" viewBox="0 0 100 100">
        <circle cx="50" cy="50" r="45" stroke="#E5E7EB" stroke-width="10" fill="none" />
        <circle
            id="progressCircle"
            cx="50" cy="50" r="45"
            stroke="#60A5FA"
            stroke-width="10"
            fill="none"
            stroke-linecap="round"
            stroke-dasharray="282.6"
            stroke-dashoffset="282.6"
            style="transition: stroke-dashoffset 1s ease-out"
        />
      </svg>

      <div class="absolute inset-0 flex flex-col items-center justify-center">
        <p id="currentText" class="text-2xl font-bold text-blue-600">-</p>
        <p id="goalText" class="text-sm text-gray-400">/-</p>
      </div>
    </div>
    <p id="remainText" class="text-sm text-gray-500 mt-2">-</p>
  </div>

  <!-- 단백질 등록 -->
  <div class="mt-6">
    <h3 class="text-blue-500 font-semibold mb-2">프로틴 등록</h3>
    <div th:replace="~{component/protein-register :: proteinRegister}"></div>
  </div>

  <!-- 단백질 목록 -->
  <div class="mt-2">
    <div th:replace="~{component/protein-history :: proteinHistory}"></div>
  </div>
</th:block>

<script layout:fragment="script">
  /*
    단백질 총섭취량 조회
   */
  async function renderTotalProtein() {
    const date = document.getElementById("todayText").innerText.replaceAll('-', '');

      try {
        const res = await fetch(`/api/proteins/total/${date}`);
        if (!res.ok) throw new Error("섭취량 조회 실패");

        const data = await res.json();
        const total = data.data || 0;
        updateProgress(total);
      } catch (err) {
        console.error(err);
      }
  }

  /*
    단백질 달성률 링 업데이트
   */
  function updateProgress(currentValue) {
    const goal = 120; // TODO
    const percent = Math.min((currentValue / goal) * 100, 100);
    const circleLength = 2 * Math.PI * 45;
    const offset = circleLength * (1 - percent / 100);

    const circle = document.getElementById("progressCircle");
    const currentTextEl = document.getElementById("currentText");
    const remainTextEl = document.getElementById("remainText");

    if (circle) {
        circle.style.strokeDashoffset = offset;

        if (currentValue >= goal) {
            circle.setAttribute("stroke", "#22C55E"); // 초록색 (ex. Tailwind: green-500)
        } else {
            circle.setAttribute("stroke", "#60A5FA"); // 파란색 (blue-400)
        }
    }

    currentTextEl.innerText = `${currentValue}g`;

    if (currentValue >= goal) {
      currentTextEl.classList.remove("text-blue-600");
      currentTextEl.classList.add("text-green-500", "text-3xl", "animate-pulse");

      remainTextEl.innerText = '🎉 오늘의 프로틴을 모두 채웠어요!';
      remainTextEl.classList.remove("text-gray-500", "mt-2");
      remainTextEl.classList.add("text-green-600", "text-lg", "font-semibold", "animate-bounce", "mt-3");
    } else {
      currentTextEl.classList.remove("text-green-500", "text-3xl", "animate-pulse");
      currentTextEl.classList.add("text-blue-600");

      let remain = Math.round((goal - currentValue) * 10) / 10;
      remainTextEl.innerText = `${remain}g 남았어요!`;
      remainTextEl.classList.remove("text-green-600", "text-lg", "font-semibold", "animate-bounce", "mt-3");
      remainTextEl.classList.add("text-gray-500", "mt-2");
    }
  }

  /*
    오늘 날짜 세팅
   */
  function setToday() {
    document.getElementById("todayText").innerText = COMMON.getTodayDate();
  }

  /*
    목표 텍스트 세팅
   */
  function setGoal() {
      const goal = 120;
      document.getElementById("goalText").innerText = `/${goal}g`;
  }

  window.addEventListener("DOMContentLoaded", () => {
    setToday();
    setGoal();
  });

</script>
</html>
